/* styleCarros.css para a página de História */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fefefe;
    background-color: #0d2635;
    /* Fundo escuro */
}

header {
    display: flex;
    align-items: center;
    background-color: #1A5276;
    /* Azul profundo */
    padding: 2vh 4vw;
    top: 0;
    left: 0;
    right: 0;
}

.logo img {
    height: 5vh;
    margin-right: 2vw;
}

.title h1 {
    font-family: "Lexend", sans-serif;
    color: #F7DC6F;
    /* Amarelo dourado */
    margin: 0;
    font-size: 4vh;
}

.title a {
    text-decoration: none;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1.5vw;
}

nav a {
    font-family: "Josefin Sans", serif;
    color: #F7DC6F;
    text-decoration: none;
    font-size: 2.9vh;
}

nav a:hover {
    color: #D4AC0D;
    /* Destaque dourado */
}

main {
    padding: 5vh 4vw;
}

.historia h2 {
    font-family: "Lexend", sans-serif;
    font-size: 3.5vh;
    color: #F7DC6F;
    /* Amarelo dourado */
    text-align: center;
    margin-bottom: 4vh;
    text-shadow: 1px 1px 8px #000000;
}

.historia p {
    font-family: "Josefin Sans", serif;
    font-size: 2.5vh;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 3vh;
    color: #dcdcdc;
}

.historia img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 3vh auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.tecnologia,
footer {
    padding: 30px 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

.tecnologia h2,
footer p {
    font-size: 18px;
    color: #bbb;
}

footer p {
    font-size: 14px;
    color: #bbb;
}

footer p {
    font-size: 1.5vh;
}

@media (max-width: 768px) {
    .title {
        display: none;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        gap: 2.9vw;
    }

    nav li {
        margin: 0 0.5vw;
    }

    nav a {
        font-size: 1.5vh;
    }

    .historia h2 {
        font-size: 3vh;
    }

    .historia p {
        font-size: 2.3vh;
    }

    .historia img {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    nav li {
        margin: 0 0.2vw;
    }

    nav a {
        font-size: 1.2vh;
    }

    .historia h2 {
        font-size: 2.5vh;
    }

    .historia p {
        font-size: 2vh;
    }

    .historia img {
        max-width: 100%;
    }
}